.form-label {
    @apply block text-gray-700 font-normal mb-1;
}

@screen sm {
    .form-label {
        @apply mb-3;
    }
}

.form-input {
    @apply bg-gray-100 border-transparent text-gray-900 appearance-none inline-block w-full border rounded py-2 px-4;
}
.form-input:focus {
    @apply border-blue-400 bg-gray-200 outline-none border-blue-400;
}
.form-input:disabled {
    @apply bg-gray-200 text-gray-500;
}
.form-input[readonly] {
    @apply text-gray-600;
}

.form-text-error {
    @apply text-sm text-red-500 mt-2;
}

.datepicker:after {
    content: "x";
    right: 0;
}
